hr {
	display: block;
	height: 2.2px;
	border: 0;
	opacity: 0.8;
	padding: 0; 
	width: 7.5%;
}
#portfolio hr{
	background-color: #585D62;
}
#contact hr, #about hr{
	background-color: grey;
}
.nav-anchor {
	padding-top: 50px;
}
.navbar-inverse, #footer {
	background-color: #343B42;
}
.btn {
	border-radius: 0;
}
.glyphicon {
	font-size: 30px;
	color: #343B42;
	padding: 10px;
}
.glyphicon:hover {
	color:white;
}
#home button {
	text-transform: uppercase;
	background-color: #74D9E4;
	margin-top: 5px;
	margin-bottom: 60px;
}
#home button:hover {
	background-color: #414A52;
	color: #74D9E4;
}
#about p {
	font-size: 160;
}
#about button {
	color:#74D9E4;
	background-color:#414A52;
	margin-bottom: 80px;
}
#about button:hover {
	color:#74D9E4;
	background-color:#343B42;
	text-decoration: none;
}
#portfolio button {
	text-transform: uppercase;
	background-color: #414A52;
}
#portfolio button:hover {
	background-color: #74D9E4;
	color: #70767C;
}
#portfolio img {
	/*height: 300px;
	max-height: 300px;
	width: auto;*/
}
.portfolio-img:hover {
	opacity: 0.75;
}
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#home {
	color: white;
	background-color: #70767C;
	text-align: center;
}
#name {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.0625em;
	font-size: 50px;
}
#tagline {
	font-size: 20px;
	opacity: 0.90;
}
#about {
	background-color: #74D9E4;
}
#portfolio {
	background-color: #70767C;
	color: #74D9E4;
	text-align: center;
}
#contact {
	background-color: #74D9E4;
}
#michael-suit {
	display: block;
	height: 300px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
#glyph-bar {
	margin-left: auto;
	margin-right: auto;
}
